# Dependências
/node_modules
/.pnp
.pnp.js

# Arquivos de build
/build
/dist
/.next

# Arquivos temporários
/.cache
/.eslintcache
/.yarn
yarn-error.log

# Arquivos de ambiente
.env.local
.env.development.local
.env.test.local
.env.production.local

# Outros
.DS_Store
Thumbs.db